.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
}

.title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.product-container {
    flex: 0 0 auto;
    max-width: 200px;
    width: 550px;
    margin: 10px;
    margin-left: 50px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #c9a66b;
    border-radius: 20px;
}

.product-container img {
    width: 150px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-container h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.price {
    font-size: 14px;
    margin-bottom: 10px;
}

.share-btn {
    background-color: #AF4425;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}

/* .share-btn-whatsapp{
    background-color: #00c298;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
} */

/* .share-btn-whatsapp:hover{
    background-color: #00c29894;
} */

.share-btn:hover {
    opacity: 0.8;
}

.product-container .product-title {
    font-size: 15px;
}

.likebtn {
    margin-top: 5px;
    background-color: #AF4425 !important;
    border-radius: 5px;
}

.deletenimg {
    display:flex;

}

.deletebtn{
    width: 5%;
    height: 5%;
    border-radius: 10px;
}

.deletebtn img{
    width: 5px;
    height: 5px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
